<!--
/**
 * Friends template.
 */
-->
<template name="friends_view">
    <div class="friends-page">
        <div class="row">
            <div class="col-sm-12 col-xs-10 latest-users">
                <h2>Friends</h2>
                {{#if getFriends}}
                    {{#each getFriends}}
                        <div class="user-box">
                            <a href="{{profileUrl _id}}">
                                <div class="user-avatar">
                                    <img src="{{avatar}}">
                                </div>
                                <div class="user-info">
                                    {{profile.firstname}} {{profile.lastname}}
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{else}}
                    <p>No friends.</p>
                {{/if}}
            </div>
        </div>

        {{>friends_requests_view}}
    </div>
</template>