<!--
/**
 * Search template.
 */
-->
<template name="search_view">
    <div class="search-page">
        <div class="row">
            <div class="col-sm-12 col-xs-10 latest-users">
                <h2>Recently joined</h2>
                {{#each getUsers}}
                    <div class="user-box">
                        <a href="{{profileUrl _id}}">
                            <div class="user-avatar">
                                <img src="{{avatar}}">
                            </div>
                            <div class="user-info">
                                {{profile.firstname}} {{profile.lastname}}
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Search</h2>
            </div>
        </div>
        <div class="row">
            <form id="search-form">
                <div class="form-group col-sm-8 col-xs-8">
                    <input type="text" name="name" id="search-form-name" class="form-control" placeholder="Name">
                </div>

                <div class="form-group col-sm-4 col-xs-6">
                    <button type="submit" class="btn btn-default">
                        Search <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <label class="error-search error-msg"></label>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{#if getSearched}}
                    {{#each getSearched}}
                        <div class="user-box">
                            <a href="{{profileUrl _id}}">
                                <div class="user-avatar">
                                    <img src="{{avatar}}">
                                </div>
                                <div class="user-info">
                                    {{profile.firstname}} {{profile.lastname}}
                                </div>
                            </a>
                        </div>
                    {{/each}}
                {{else}}
                    {{#if getInitialized}}
                        <p>No results.</p>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</template>