<!--
/**
 * Login view template.
 */
-->
<template name="login_view">
    <main class="login-page">
        <div class="centered-wrapper">
            <div class="col-sm-6 col-xs-10">
                <h2 class="text-center">Please log in</h2>
                <form id="user-login-form" class="centered-form">
                    <div class="form-group">
                        <input type="text" name="email" id="user-login-form-email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="user-login-form-password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6 button-wrapper">
                        <button type="submit" class="btn btn-default">&#10142;</button>
                        <label class="error-login error-msg"></label>
                    </div>
                </form>
                <div>
                    <a href="/register">Register</a>
                </div>
                <div>
                    <a href="/about">What is this?</a>
                </div>
            </div>
        </div>
    </main>
</template>
