/* Styles for various forms */

.centered-form {
  .button-wrapper {
    padding: 0;
    float: right;
  }

  button[type="submit"] {
    width: 100%;
    font-size: 24px;
    height: 36px;
    line-height: 18px;
  }
}

#user-register-form {
  button[type="submit"] {
    font-size: 16px;
  }
}