/* Styles for links. */

.profile-action {
  color: $c-green;

  &:hover,
  &:active {
    color: $c-black;
  }
}

.action-deny,
.action-ban {
  color: $c-red;

  &:hover,
  &:active {
    color: $c-black;
  }
}