/* Styles for login view */

.page-login {
  .wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-bottom: 10%;
  }

  .login-form-container {

  }
}
