<!--
/**
 * My profile template.
 */
-->
<template name="user_my_profile_view">
    <div class="profile-page">
        {{#with getUser}}
            <div class="row user-heading">
                <div class="col-sm-12">
                    <h2>{{profile.firstname}} {{profile.lastname}}</h2>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-sm-6">
                    <div class="profile-avatar">
                        {{#if avatar}}
                            <img src="{{avatar}}">
                        {{else}}
                            <img src="/default-avatar.png">
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        {{#if profile.city}}
                            <p>City: {{profile.city}}</p>
                        {{/if}}
                        {{#if profile.country}}
                            <p>Country: {{profile.country}}</p>
                        {{/if}}
                        <p>{{dobToAge profile.dob}}, {{profile.gender}}</p>
                        <p class="profile-about-me">{{profile.about}}</p>
                    </div>
                </div>
            </div>

            {{> user_profile_message_view}}

            {{> user_profile_message_list userId=_id}}
        {{/with}}
    </div>
</template>