<!--
/**
 * About view template.
 */
-->
<template name="about_view">
    <main class="about-page">
        {{> layouts_includes_header}}
            <div class="col-sm-8 col-xs-10">
                <h2>What is this?</h2>
                <p>This is a social network web application created in Meteor.</p>
                <p>
                    You can create an account and set up some information about yourself.<br>
                    Find other people and interact with them by leaving a post on their wall or inviting them to become
                    your friend.
                </p>
                <p>The purpose of this project is to serve as my qualification paper.</p>
                <p>Source code repository - <a href="https://github.com/Solivar/msn">MSN on GitHub</a></p>
                <p>
                    Created by <a href="https://github.com/Solivar">Ivars Solovjovs</a><br>
                    Second year student at University of Latvia<br>
                    Spring semester 2016
                </p>
                <a href="/login">Go back</a>
            </div>
    </main>
</template>
