/* Color variables */
$c-white: #fbfbfb;
$c-gray: #eeeeee;
$c-black: #333333;
$c-green: #33b770;
$c-blue: #337ab7;
$c-red: #b7322c;
$c-bronze: #b77033;

/* Media query breakpoint variables */
$breakpoints: (
  'small'  : 768px,
  'medium' : 992px,
  'large'  : 1200px
);