<!--
/**
 * User profile template.
 */
-->
<template name="user_profile_view">
    <div class="profile-page">
        {{#with getUser}}
            <div class="row user-heading">
                <div class="col-sm-12">
                    <h2>{{profile.firstname}} {{profile.lastname}}</h2>
                </div>
            </div>
            <div class="row user-info">
                <div class="col-sm-6">
                    <div class="profile-avatar">
                        {{#if avatar}}
                            <img src="{{avatar}}">
                        {{else}}
                            <img src="/default-avatar.png">
                        {{/if}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        {{#if profile.city}}
                            <p>City: {{profile.city}}</p>
                        {{/if}}
                        {{#if profile.country}}
                            <p>Country: {{profile.country}}</p>
                        {{/if}}
                        <p>{{dobToAge profile.dob}}, {{profile.gender}}</p>
                        <p class="profile-about-me">{{profile.about}}</p>
                    </div>
                    <div class="col-sm-12">
                        {{#if getRequest}}
                            <p>Pending friend request</p>
                            {{#if canAccept}}
                                <p>
                                    <a href="#" class="profile-action action-accept">
                                        <i class="fa fa-check" aria-hidden="true"></i>Accept
                                    </a>
                                    <a href="#" class="action-deny">
                                        <i class="fa fa-times" aria-hidden="true"></i>Deny
                                    </a>
                                </p>
                            {{/if}}
                        {{/if}}

                        {{#if getFriendship}}
                            <p>
                                <a href="#" class="action-unfriend">
                                    <i class="fa fa-ban" aria-hidden="true"></i> Remove Friend
                                </a>
                            </p>
                        {{/if}}

                        {{#if canAddFriend}}
                            <p>
                                <a href="#" class="profile-action request-friend">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i> Add Friend
                                </a>
                            </p>
                        {{/if}}

                        {{#if canBan}}
                        <p>
                            <a href="#" class="action-ban{{#if isBanned}} unban{{/if}}">
                                {{#if isBanned}}
                                    <i class="fa fa-ban" aria-hidden="true"></i> Unblock User
                                {{else}}
                                    <i class="fa fa-ban" aria-hidden="true"></i> Block User
                                {{/if}}
                            </a>
                        </p>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{> user_profile_message_view}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{> user_profile_message_list userId=_id}}
                </div>
            </div>
        {{/with}}
    </div>
</template>