<!--
/**
 * Register view template.
 */
-->
<template name="register_view">
    <main class="page-register">
        <div class="centered-wrapper">
            <div class="col-sm-4 col-xs-10">
                <form id="user-register-form" class="centered-form">
                    <div class="form-group">
                        <input type="text" name="user-register-form-email" id="user-register-form-email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="user-register-form-password" id="user-register-form-password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group col-sm-6 button-wrapper">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</template>
