<!--
/**
 * User profile message list template.
 */
-->
<template name="user_profile_message_list">
    <div class="row">
        {{#each getMessages}}
            <div class="col-sm-12">
                <section class="profile-message">
                    <div class="message-body">
                        <p>{{message}}</p>
                    </div>
                    <footer>
                        <p><a href="{{profileUrl author}}">{{firstname}} {{lastname}}</a></p>
                    </footer>
                </section>
            </div>
        {{/each}}
    </div>
</template>