<!--
/**
 * User profile message list template.
 */
-->
<template name="user_profile_message_list">
    <div class="row">
        {{#each getMessages}}
            <div class="col-sm-12">
                <section class="profile-message">
                    <div class="message-body">
                        <p>{{message}}</p>
                    </div>
                    <footer>
                        <div class="col-sm-8">
                            <p><a href="{{profileUrl author}}">{{firstname}} {{lastname}}</a></p>
                        </div>
                        {{#if isProfileOwner}}
                            <div class="col-sm-4">
                                <a href="#" class="remove-message">Remove</a>
                            </div>
                        {{/if}}
                    </footer>
                </section>
            </div>
        {{/each}}
    </div>
</template>