<!--
/**
 * Menu layout includes template.
 */
-->
<template name="layouts_includes_menu">
    <nav>
        <ul class="nav nav-tabs">
            <li id="home" role="presentation"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li id="settings" role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <li id="user-info" role="presentation"><a href="/settings/info">Profile Information</a></li>
                    <li id="user-profile-image" role="presentation"><a href="/settings/profile-image">Profile Image</a></li>
                    <li id="user-info" role="presentation"><a href="/settings/changepass">Change Password</a></li>
                </ul>
            </li>
            <li id="friends" role="presentation"><a href="/friends">Friends</a></li>
            <li id="search" role="presentation"><a href="/search">Search</a></li>
            {{#if isAdmin}}
                <li id="admin" role="presentation"><a href="/admin">Admin</a></li>
            {{/if}}
            <li id="logout" role="presentation" class="pull-right"><a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
</template>