<!--
/**
 * Menu layout includes template.
 */
-->
<template name="layouts_includes_menu">
    <nav>
        <ul class="nav nav-tabs">
            <li id="home" role="presentation"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li id="user-settings" role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/settings/changepass">Change Password</a></li>
                    <li id="user-info" role="presentation"><a href="/settings/info">Profile Information</a></li>
                </ul>
            </li>
            <li id="logout" role="presentation"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</template>